/*
    Document   : main
    Created on : Apr 27, 2013, 5:14:19 PM
    Author     : Matthew, Massimo
    Description:
        Purpose of the stylesheet follows.
*/

html,
body {
  background-color: #000;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.header {
  line-height: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  background-color: #e74c3c;
  color: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 10;
  width: 100%;
  font-weight: bold;
}

.header .back {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  left: 20px;
  position: absolute;
}

#scrollview-container {
  padding-top: 60px;
}


.main {
  width: 980px;
  overflow: auto;
}


.container {
  width: 320px;
  height: 460px;
  float: left;
}

.container:not(:last-child) {
  margin-right: 10px;
}

.item {
  width: 20%;
  height: auto;
  display: block;
}

.item1 {
  width: 100%;
  height: 220px;
}

.item2,
.item3 {
  width: 155px;
  height: 100px;
}

.item4,
.item5
.item6 {
  width: 100px;
  height: 60px;
}

.item7,
.item80
.item9,
.item10 {
  width: 72.5px;
  height: 50px;
}

.item11,
.item12,
.item13,
.item14,
.item15 {
  width: 17%;
  height: 35px;
}

.info {
  width: 100%;
  min-height: 100%;
  background-color: black;
  color: rgba(255, 255, 255, 0.75);
  left: 320px;
}

.info .info-header {
  padding: 20px 20px 10px;
}

.info .info-header p {
  font-size: 12px;
  margin-top: 10px;
}

.info h1 {
  font-size: 22px;
}

.info img {
  max-width: 100%;
}

.info .description {
  margin: 20px;
  font-size: 14px;
  line-height: 1.5;
}

a {
    text-decoration: none;
}

.header{
    background-color: activeborder;
    padding: 10px;
}

.content{
    padding: 50px;
    /*margin: 40px 0 ;*/
}

#big-message{
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 20px;
}

#small-message{
    text-align: center;
    margin-bottom: 80px;
}

#main-button-container{
    width: 100px;
    margin: 0 auto;
    background-color: burlywood;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: white;
}


