/*
    Document   : main
    Created on : Apr 27, 2013, 5:14:19 PM
    Author     : Matthew, Massimo
    Description:
        Purpose of the stylesheet follows.
*/

html,
body {
  background-color: #000;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.header {
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: #e74c3c;
  padding: 10px;
  color: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 20;
  width: 100%;
  font-weight: bold;
}

.header .back,
.header .forward {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  text-decoration: none;
  top: 10px;
  position: absolute;
}

.header .back {
  left: 40px;
}

.header .forward {
  right: 40px;
}


.content {
    background-color: black;
    color: rgba(255, 255, 255, 0.75);
    min-height: 100%;
    padding-top: 70px;
    width: 100%;
}

.content p {
    font-size: 20px;
}


/* Index */
.content.index p {
    margin: 20px 20px 60px;
    text-align: center;
}

/* Explore */
.content.explore a {
  display: block;
}

/* Detail */
.content.detail .title {
  font-size: 22px;
  font-weight: normal;
  margin: 10px 10px 20px;
}

.content.detail .distance {
  font-size: 12px;
  margin: 10px 10px;
}

.content.detail .photo {
  max-width: 100%;
}

.content.detail .description {
  margin: 20px 10px;
  font-size: 14px;
  line-height: 1.5;
}


.main {
  width: 320px;
  overflow: auto;
}


.container {
  width: 320px;
  height: 460px;
  float: left;
}

.container:not(:last-child) {
  margin-right: 10px;
}

.item {
  width: 20%;
  height: auto;
  display: block;
}

.item1 {
  width: 100%;
  height: 220px;
}

.item2,
.item3 {
  width: 155px;
  height: 100px;
}

.item4,
.item5
.item6 {
  width: 100px;
  height: 60px;
}

.item7,
.item80
.item9,
.item10 {
  width: 72.5px;
  height: 50px;
}

.item11,
.item12,
.item13,
.item14,
.item15 {
  width: 17%;
  height: 35px;
}




.button {
    background-color: burlywood;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 100px;
}